@import controllers.security.User

@(changePwForm: Form[forms.ChangePasswordForm.Data])(implicit request: RequestHeader, messages: Messages, user: Option[User])

@main("Change password") {
    <link rel="stylesheet" href="@routes.Assets.versioned("css/login.css")"/>


    <div class="container">

        <div class="col-md-3"></div>

        <div class="col-xs-12 col-md-6 header-drop">


            <fieldset style="margin-top: 30%">

                @helper.form(action = routes.AuthController.changePassword()) {
                    @helper.inputPassword(changePwForm("oldpassword"), '_showConstraints -> false, '_label -> "", 'placeholder -> "Old password", 'class -> "form-control input-lg")
                    @helper.inputPassword(changePwForm("newpassword"), '_showConstraints -> false, '_label -> "", 'placeholder -> "New password", 'class -> "form-control input-lg")
                    @helper.inputPassword(changePwForm("confirmation"), '_showConstraints -> false, '_label -> "", 'placeholder -> "Confirm password", 'class -> "form-control input-lg")
                    <div class="form-group">
                        <div>
                            <input id="submit" type="submit" value="Submit" class="btn btn-lg btn-block"/>
                        </div>
                    </div>
                }

                @request.flash.get("error").map { msg =>
                    <div class="col-md-6 col-md-offset-3 alert alert-danger alert-error">
                        <strong>@msg</strong>
                    </div>
                }
                @request.flash.get("success").map { msg =>
                    <div class="col-md-6 col-md-offset-3 success alert-success">
                        <strong>@msg</strong>
                    </div>
                }

            </fieldset>

        </div>

        <div class="col-md-3"></div>

    </div>
}