@import controllers.security.User
@import helper.select
@(form: Form[forms.SampleForm.Data])(implicit messages: Messages, user: Option[User])

@main("Sample"){

    <button onclick="sample()" class="header-drop">Sample</button>

    <div class="modal fade" id="sample" tabindex="-1" role="dialog" aria-labelledby="Sample Modal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="modal-title">New Song</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <fieldset>
                        @helper.form(action = routes.HomeController.sample, 'id -> "sampleForm") {
                            @helper.inputText(form("text"))
                            @helper.inputDate(form("date"))
                            @select(field = form("time"), options = Seq(("8", "8.00"), ("9", "9.00"), ("10", "10.00")))
                        }


                    </fieldset>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit" form="sampleForm"/>
                </div>

            </div>
        </div>
    </div>

    <script>
        function sample() {
            $('#sample').modal('show')
        }
    </script>
}